* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mostra-produtos {
    position: relative;
    top: 0;
    left: 25%;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(246, 250, 130);
}

.cabecalho-produtos {
    padding: 20px;
    border: 2px dashed black;
    text-align: center;
}

.itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed black;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
    padding: 10px;
}

.qtd {
    margin-left: 25px;
}

.preco {
    margin-right: 10px;
}

.total {
    border: 2px dashed black;
    margin-top: 15px;
}

